rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

      function isAuthenticated(uid) {
          return request.auth != null && request.auth.uid == uid;
      }

      match /users/{uid} {
          allow create;
          allow read, update, delete: if isAuthenticated(uid);
      }
  }
}