rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

      function isAuthenticated(email) {
          return request.auth != null && request.auth.token.email == email;
      }

      match /users/{userId} {
          allow create;
          allow read, update, delete: if isAuthenticated(userId);
      }
  }
}