# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local


*.env

*.log
environments